@using Web.AuthService
@inherits LayoutComponentBase

<div class="layout-root">

    <div class="background-shapes">
        <div class="background-blob background-blob-blue"></div>
        <div class="background-blob background-blob-pink"></div> 
        <div class="background-blob background-blob-green"></div>
    </div>

    
    <main class="main-content">
        @Body
    </main>

    <AppRegisterForm />
    <AppLoginForm />
</div>

@code {
    [Inject] public UserState UserState { get; set; } = default!;
}
