@using Web.AuthService
@inherits LayoutComponentBase

<div class="layout-root">
    <header>
        @if (UserState.IsAuthenticated)
        {
            <NavMenu />
        }
        <Register />
        <Login />
    </header>

    <main class="main-full py-4">
        @Body
    </main>
</div>

@code {
    [Inject] public UserState UserState { get; set; } = default!;
}
