@* <nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm"> *@
@*     <div class="container-fluid"> *@
@*         <span class="navbar-brand">Live C# Playground</span> *@
@*         <ul class="navbar-nav ms-auto"> *@
@*             <li class="nav-item d-flex align-items-center"> *@
@*                 @if (UserState.IsAuthenticated) *@
@*                 { *@
@*                     <img src="@($"/avatars/{UserState.User?.AvatarFileName ?? "default_avatar.png"}")" *@
@*                          class="rounded-circle" style="width:36px;height:36px;margin-right:8px;" /> *@
@*                     <span class="text-white me-2">@UserState.User?.Username</span> *@
@*                 } *@
@*                 <button class="btn btn-outline-light" @onclick="Logout">Exit</button> *@
@*             </li> *@
@*         </ul> *@
@*     </div> *@
@* </nav> *@
@* *@
@* @code { *@
@*     [Inject] public UserState UserState { get; set; } = default!; *@
@*     [Inject] public NavigationManager Nav { get; set; } = default!; *@
@* *@
@*     private void Logout() *@
@*     { *@
@*         UserState.Logout(); *@
@*         Nav.NavigateTo("/login", forceLoad: true); *@
@*     } *@
@* } *@
