<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Live C# Playground</span>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <button class="btn btn-outline-light" @onclick="Logout">Exit</button>
            </li>
        </ul>
    </div>
</nav>

@code {
    [Inject] public UserState UserState { get; set; } = default!;
    [Inject] public NavigationManager Nav { get; set; } = default!;

    private void Logout()
    {
        UserState.Logout();
        Nav.NavigateTo("/login", forceLoad: true);
    }
}
