@page "/"

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h1 class="fw-bold mb-3">Welcome to <span class="text-primary">Live C# Playground!</span></h1>
            <p class="lead text-muted">
                This is a collaborative code editing platform built with <b>Blazor</b> and <b>.NET</b>.
            </p>
            <a href="/snippets" class="btn btn-primary btn-lg mt-3">
                <i class="bi bi-code-slash"></i> Go to Code Snippets
            </a>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
            <img src="https://cdn.svgporn.com/logos/dotnet.svg" alt="dotnet" class="img-fluid" style="max-height:180px;">
        </div>
    </div>
</div>
