@page "/"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Pages
@namespace Web.Components.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Live C# Playground</title>
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" />
    <link href="/app.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
<script src="~/js/cropperInterop.js"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>
