@page "/"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Web.Pages
@namespace Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Live C# Playground</title>
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" />
    <link href="css/main-layout.css" rel="stylesheet" />
    <link href="css/admin-panel.css" rel="stylesheet" />
    <link href="css/admin-session-edit.css" rel="stylesheet" />
    <link href="css/admin-snippet-edit.css" rel="stylesheet" />
    <link href="css/create-session.css" rel="stylesheet" />
    <link href="css/create-snippet.css" rel="stylesheet" />
    <link href="css/cropper-modal.css" rel="stylesheet" />
    <link href="css/edit-session.css" rel="stylesheet" />
    <link href="css/edit-snippet.css" rel="stylesheet" />
    <link href="css/home.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <link href="css/profile.css" rel="stylesheet" />
    <link href="css/register.css" rel="stylesheet" />
    <link href="css/session-details.css" rel="stylesheet" />
    <link href="css/sessions.css" rel="stylesheet" />
    <link href="css/snippets.css" rel="stylesheet" />
    <link href="css/snippets-details.css" rel="stylesheet" />
    <link href="css/user-details.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <HeadOutlet />
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
<script src="~/js/cropperInterop.js"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>
