@* @page "/profile/edit" *@
@* @inject HttpClient Http *@
@* @inject UserState UserState *@
@* *@
@* <h3>Edit profile</h3> *@
@* *@
@* @if (UserState.User is not null) *@
@* { *@
@*     <img src="@UserState.User.AvatarFileName" width="64" height="64" class="rounded-circle mb-3" /> *@
@*     <InputFile OnChange="UploadAvatar" /> *@
@* } *@
@* *@
@* @code { *@
@*     private async Task UploadAvatar(InputFileChangeEventArgs e) *@
@*     { *@
@*         var file = e.File; *@
@*         var content = new MultipartFormDataContent(); *@
@*         var stream = file.OpenReadStream(); *@
@*         content.Add(new StreamContent(stream), "avatar", file.Name); *@
@* *@
@*         var resp = await Http.PutAsync($"/api/users/{UserState.User.Id}/avatar", content); *@
@*         if (resp.IsSuccessStatusCode) *@
@*         { *@
@*             var url = await resp.Content.ReadAsStringAsync(); *@
@*             UserState.User.AvatarFileName = url.Replace("\"", ""); *@
@*             StateHasChanged(); *@
@*         } *@
@*     } *@
@* } *@